.full-width-table {
  width: 100%;
}

tr.mat-row:hover {
  background-color: rgba(0,0,0,.03);
}

mat-card, div.mat-elevation-z8 {
  margin: 16px;
}

mat-form-field.search-field {
  width: 300px;
  margin-bottom: -16px;
  margin-top: 0px;
  margin-left: 16px;
}